body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #b9f2fc;
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#container {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#cadastro h2 {
    text-align: center;
    margin-bottom: 20px;
}

#container input[type="text"],
#container select,
#container button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
}

#container button {
    background-color: #0759a7;
    color: white;
    cursor: pointer;
}

#container button:hover {
    background-color: #2832c9;
}
#lista {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}
.contagem {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}
#lista h2 {
    margin-bottom: 15px;
}


/* Estilização de cada tarefa inserida na lista */
#listaTarefas li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Estilo do checkbox */
#listaTarefas li input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
}

/* Linha da tarefa na lista */
#listaTarefas li span {
    flex-grow: 1;
    margin-right: 10px;
    word-break: break-word;
}

/* Botões das tarefas */
#listaTarefas li button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}
/* Checkbox com fundo verde*/
#listaTarefas li.concluida {
    background-color: lightgreen;
    border-color: #4caf50;
}